@media only screen and (min-width:533px) {
    .banner .camera_caption h3 {
        margin-top: 9% !important;
        font-size: 42px !important
    }
}

.field-items .banner .camera_caption h3 {
    margin-top: 9% !important
}

@media only screen and (max-width:450px) {
    .banner .camera_caption h3 {
        margin-top: 0px !important
    }
}